<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Equipamento</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}"> 
</head>
<body>
    
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    
    <br>
    
    <div class="form-header">
        <h1>Cadastrar Novo Equipamento</h1>
    </div>
    
    <div th:if="${mensagemSucesso}" th:insert="fragments/mensagem :: alerta"></div>
    <div th:if="${mensagemErro}" th:insert="fragments/mensagem :: alerta"></div>
    
    <form th:action="@{/equipamento/save}" th:object="${equipamento}" method="post">
        
        <input type="hidden" th:field="*{id}" />
        
        <div th:insert="fragments/formEquipamento :: formEquipamento"></div> 

        <div class="button-container">
            <button type="submit">Salvar Equipamento</button>
            <button type="button" onclick="window.location.href='/equipamento/list'">Cancelar</button>
        </div>
    </form>

</body>
</html>