<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
   
</head>
<body>
    
<!--barra de navegação-->
		<div th:insert="fragments/barraNavegacao :: navbar"></div>
		<br>
		
        
		<div class="form-header">
            <h1>Editar de usuario</h1>
		</div>
		<br>
        
        <form th:action="@{/usuario/edit}"  th:object="${usuario}" method="post">
            <br>

            <input type="hidden" id="idId" th:field="*{id}" />
                <br>

           <div th:insert="fragments/formUsuario :: formUsuario"></div>

           <br>

           <div>
               <button type="submit">Salvar</button>
               <button type="button" onclick="window.location.href='/usuario/list'">Cancelar</button>
           </div>
        </form>

</body>
</html>