<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Cinema Sistema</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div th:insert="fragments/barraNavegacao :: navbar"></div>
    <br>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
    <p>Escolha uma das opções do menu para começar:</p>
    <ul>
        <li><a th:href="@{/sala/list}">Salas</a></li>
        <li><a th:href="@{/equipamento/list}">Equipamentos</a></li>
        <li><a th:href="@{/sessao/list}">Sessões</a></li>
    </ul>
</body>
</html>
